extends layout

block content
  h2 Things you shouldn't say
  p So today WWDC's keynote took place, and something didn't happen, Apple did not announce a new filesystem for the Mac, regardless of that #[a(href='https://developer.apple.com/library/prerelease/content/documentation/FileManagement/Conceptual/APFS_Guide/GeneralCharacteristics/GeneralCharacteristics.html#//apple_ref/doc/uid/TP40016999-CH2-SW1') it is a thing]. John Syracusa must be feeling happy about it and also very cranky that there's not a new Mac Pro.
  p Personally, after the late 2000's creation of a few filesystem for Linux not much has happened, also by this time the lack of design of all them it's not a point of contention.
  p ZFS remains as the golden standard for what a fs should be, and also how it should be build.
  p One detail which makes me hope for great things about this new Apple file system, is the usual bold stance of the company towards the future i.e. no compromises  will be made in the name HFS+ and any sort of backward compatibility is a non starter. In the mean time the feature list seems really good, and I have nothing else to do but wait for 2017.
