nav#nav.nv(role='navigation')
  ul.nv-list
    li.nv-item
      a(href='/').nv-link Words
    li.nv-item
      a(href='#').nv-link Work
    li.nv-item
      a(href='#').nv-link Hire me / Contact
    li.nv-item
      a(href='#').nv-link About

a(href='#nav' role='button').nv-open menu
