<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Unironical</title>
        <meta charset="utf-8">
        <meta name="description" content="some description">
        <meta name="keywords" content="German Cabarcas, Luis German Cabarcas Consuegra, Full Stack, NodeJs, Web Developer, Meteor Js">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ $css := resources.Get "sass/main.scss" | resources.ToCSS }}
        <link rel="stylesheet" href="{{ $css.Permalink }}" type="text/css">
    </head>
        <body>
            {{ block "main" . }} {{ end }}
        </body>
</html>
